header {
	background-color: #326B45;
	background-image: url('https://dex4short.github.io/All_About_Trains/img1.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	
	margin: -10px;
	height: 400px;
	align-content: center;
	
	text-align: center;
	color: white;
}
table{
	width: 100%;
	padding: 8px;
}
p{
	font-family: 'Calibri';
	font-size: 12;
	font-weight: normal;
	
	margin-bottom: 20px;
}
footer{	
	background-color: #326B45;
	
	margin: -10px;
	padding: 40px;
	
	font-family: 'Calibri';
	font-size: 12;
	font-weight: bold;
	color: white;
}
.title{
	font-family: 'Times New Roman';
	font-size: 78px;
	font-weight: bold;
}
.subtitle{
	font-family: 'Times New Roman';
	font-size: 20;
	font-weight: bold;
	padding-bottom: 25px;
}
.search_bar{
	border: none;
	
	width: 450px;
	height:45px;
	
	font-family: 'Calibri';
	font-size: 12;
	font-weight: bold;
	
	padding-left: 25px;
	padding-right: 40px;
	padding-bottom: 4px;
}
.search_button{
	border: none;
	
	background-color: white;
	background-image: url("https://dex4short.github.io/All_About_Trains/search_icon.png");
	background-size: cover;
	
	width: 20px;
	height: 20px;
	
	padding: 7px;
	margin-left:-35px;
}
.menu{
	font-family: 'Calibri';
	font-size: 12;
	font-weight: bold;
	
	text-align: center;
	color: black;
}
.menu_button{	
	cursor: pointer;
	
	width: 75px;
	height: 70px;
	
	size: fixed;
}
.info_panel1{
	background-color: #F6F6F6;
	border: 10px solid #FFF;
	
	width: 300px;
	padding: 30px;
	
	font-family: 'Calibri';
	font-size: 12;
	font-weight: normal;
	color: black;
	
	text-align: justify;
}
.info_panel2{
	background-color: #326B45;
	border: 10px solid #FFF;
	
	width: 300px;
	padding: 30px;
	
	font-family: 'Calibri';
	font-size: 12;
	font-weight: normal;
	color: white;
	
	text-align: center;
}
.info_panel3{
	background-color: white;
	border: 10px solid #FFF;
	
	width: 360px;
	
	font-family: 'Calibri';
	font-size: 12;
	font-weight: normal;
	color: black;
	
	text-align: justify;
}
.image_panel{
	background-color: #F6F6F6;
	border: 10px solid #FFF;
	
	width: 360px;
}
